* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 30px 0px;
    padding-bottom: 0px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 30%;
    float: left;
}

.logo img {
}
img {
    max-width: 100%;
    display: block;
}

.social {
    width: 70%;
    float: left;
}

.social ul {
    text-align: right;
}

.social ul li {
    list-style: none;
    display: inline-block;
    margin-left: 5px;
}

.social ul li img {
    position: relative;
}

.social ul li .twitter {
    position: absolute;
    transform: translate(20%,-57%);
}

.social ul li .twitter img {
    width: 25px;
}

.border {
    width: 100%;
    border-bottom: 1px solid #dadada;
    height: 75px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    overflow: hidden;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #464c52;
    padding-right: 25px;
    margin-bottom: 20px;
    display: block;
    margin-top: 20px;
}

.banner {
    background: url(../images/bannerbg.jpg);
}

.banner img {
    margin: 0 auto;
    transform: translateY(16%);
}

.banner-bottom {
    text-align: center;
    width: 800px;
    margin: 130px auto;
    margin-bottom: 60px;
}

.banner-bottom p {
    font-size: 19px;
    color: #dadada;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner-bottom a {
    display: inline-block;
    text-decoration: none;
    background: #2dcc70;
    padding: 15px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.video-section {
    background: #f1f0f0;
    padding: 40px 0px;
}

.video {
    width: 40%;
    float: left;
    margin-top: 18px;
}

.video-text {
    width: 60%;
    float: left;
}

.video-text h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #b5b5b5;
}

.video-text p {
    font-size: 18px;
    margin-bottom: 15px;
    color: #a0a0a0;
}

.footer-up {
    background: #4e4949;
    color: #fff;
    padding: 40px;
}

.left-text {
    width: 50%;
    float: left;
}

.left-text h2 {
    text-transform: uppercase;
    margin-top: 5px;
}

.right-btn {
    width: 50%;
    float: left;
    text-align: center;
}

.right-btn a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    background: #2dcc70;
    padding: 10px 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

footer {
    padding: 30px;
}

.footer-right {
    width: 50%;
    float: left;
}

.footer-right h6 {
    font-size: 16px;
    text-transform: uppercase;
    color: #a0a0a0;
}

.menu {
    width: 50%;
    float: left;
}

.menu ul {
    text-align: right;
}

.menu ul li {
    display: inline-block;
    list-style: none;
}

.menu ul li a {
    margin-right: 8px;
    font-weight: bold;
    text-decoration: none;
    color: #6f6f6f;
    margin-left: 7px;
}



